In [72]:
import pandas as pd
from sqlalchemy import create_engine, text
from IPython.display import display

# Conectar ao banco de dados PostgreSQL
engine = create_engine('postgresql://joaonolasco:32313167@localhost:5432/meu_banco')

# Consulta 1: Bairros com informações detalhadas
query_bairros_completa = """
SELECT 
    bairro,
    SUM(quantidade) AS total_quantidade,
    COUNT(DISTINCT produto) AS total_produtos_distintos,
    COUNT(DISTINCT classe) AS total_classes_presentes,
    CURRENT_TIMESTAMP AS dt_created,
    CURRENT_TIMESTAMP AS dt_updated
FROM silver.silver_table
GROUP BY bairro
ORDER BY total_quantidade DESC;
"""
df_bairros_completo = pd.read_sql(query_bairros_completa, engine)

# Salvar no schema gold
df_bairros_completo.to_sql('bairros_completo', engine, schema='gold', if_exists='replace', index=False)

print("Bairros com dados detalhados salvos no schema gold.")
display(df_bairros_completo)

# Consulta 2: Produtos por Classe, ordenados pelo total de produtos distintos
query_produtos_classe_completa = """
SELECT 
    classe,
    COUNT(DISTINCT produto) AS total_produtos_distintos,
    COUNT(DISTINCT bairro) AS total_bairros_atendidos,
    COUNT(*) AS total_registros_classe,
    CURRENT_TIMESTAMP AS dt_created,
    CURRENT_TIMESTAMP AS dt_updated
FROM silver.silver_table
GROUP BY classe
ORDER BY total_produtos_distintos DESC;
"""

# Executar a consulta e carregar os resultados no DataFrame
df_produtos_classe_completo = pd.read_sql(query_produtos_classe_completa, engine)

# Salvar no schema gold
df_produtos_classe_completo.to_sql('produtos_classe_completo', engine, schema='gold', if_exists='replace', index=False)

# Exibir o resultado
print("Produtos por classe com dados detalhados salvos no schema gold.")
display(df_produtos_classe_completo)

Bairros com dados detalhados salvos no schema gold.

,bairro,total_quantidade,total_produtos_distintos,total_classes_presentes,dt_created,dt_updated
0,AFOGADOS,3479687.0,606,119,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
1,IPSEP,2784518.0,503,91,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
2,IBURA,1199774.0,518,120,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
3,MADALENA,1162785.0,450,97,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
4,COHAB,1137067.0,254,76,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
...,...,...,...,...,...,...
66,ALTO DO MANDU,18319.0,245,83,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
67,AF0GADOS,17872.0,101,41,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
68,ROSARINHO,16176.0,116,44,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
69,ENCRUZILHADA,10899.0,385,92,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00
70,HIPODROMO,22.0,53,28,2025-01-31 13:16:19.696926+00:00,2025-01-31 13:16:19.696926+00:00

Produtos por classe com dados detalhados salvos no schema gold.

,classe,total_produtos_distintos,total_bairros_atendidos,total_registros_classe,dt_created,dt_updated
0,Sem informação,732,71,14268,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
1,ANTIEPILÉPTICO,10,39,448,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
2,REPOSITOR HIROELETROLÍTICO,10,71,703,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
3,ANALGÉSICO OPIÓIDE,9,39,208,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
4,ANTI-INFLAMATÓRIO (ESTERÓIDE),8,71,1101,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
...,...,...,...,...,...,...
118,ANESTÉSICO HIPNÓTICO,1,11,12,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
119,ANTITIREOIDIANO,1,37,55,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
120,ANTIVERTIGINOSO,1,65,153,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
121,CALMANTE (FITOTERÁPICO),1,63,134,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00
122,COAGULANTE/ HEMOSTÁTICO,1,7,8,2025-01-31 13:16:19.904340+00:00,2025-01-31 13:16:19.904340+00:00